{%extends 'base.html'%}
{%block content%}
{%load crispy_forms_tags%}   

<form  action="{% url 'main:test'%}" method="post">
  {% csrf_token %}
  <div class='outer'>
    <div class="container">
        <span>Test</span>
        <div class="select-box">
            <div class="options-container">
            </div>
            <div class="selected">
            <input type='text' name='search' id='search'/>
          </div>
        </div>
    </div>
  </div>
  <input type="submit" value="Submit" />
</form>
{% endblock%}